.index_images { overflow:hidden; width:100%; position:relative; height:300px; }
.index_images .roll_box a{ float:left; display:block; margin:0px; padding:0px; width:1280px; height:280px;}
.index_images .roll_box{ position:absolute; left:0px; top:0px;}

.index_images .slider_page{ text-align:center; margin-top:285px;}
.index_images .slider_page ul{ display:none;}
.index_images .slider_page ul li{ float:left; width:10px; height:20px; background:url(../images/slider_ico.gif) no-repeat 0px 0px; cursor:pointer; display:inline-block; margin-left:8px; }
.index_images .slider_page ul li.current{ float:left; width:10px; height:20px; background:url(../images/slider_ico.gif) no-repeat 0px -27px; cursor:pointer; display:inline-block; margin-left:8px; }
.more img{
    vertical-align: middle;
    border: 0px none;
}
.more{
    color: #333;
    position: relative;
    bottom: 16px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    font-size: 14px;
}
.index_titles{
    background:#EDF4FA;
}
.deals_titles{
    background:#f90;
    padding:5px;
    width:80px;
    text-align:center;
}
.index_titles .titles_name{
    color: #F90;
    font-size:20px;
}
.deals_titles .title_names{
    color:#fff;
}
